*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;

}
body{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: white;

}
.container{
    max-width: 1020px;
    margin: 100px auto;
    padding: 10px;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
column-gap: 2px;
row-gap: 2px;
}


.item{
    background:steelblue;
    color: white;
    font-size: 20px;
    padding: 20px;
    border: 1px solid skyblue;

}

.item:nth-of-type(2){ 
    background: rgb(255, 103, 103);
    /* grid-column: 2/4; */
    /* grid-row: 2/4; */
}



@media (max-width:500px){
    .container{
        grid-template-columns: 1fr;
        max-width: 400px;

    }
}