*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;

}
body{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;

    color: #333;
    background: white;
    display: grid ;
    height: 100vh;
    /* AREA NAMES HAVE TO BE SAME AS SPECIFIED BELOW  */
    grid-template-areas:
    ' header header header '
    ' navbar content sidebar '
    ' navbar footer footer '
    ;
    /* FOR DEFINING THE HEIGHT USING ROW AND WIDTH USING COLUMN  */
    grid-template-columns:1fr 2fr 2fr ;
    grid-template-rows:2fr 8fr 1fr ;
     

}

header,
footer,
aside,
main,
nav{
    background: steelblue;
    color: white;
    border: 1px solid skyblue;
    padding: 10px;
}


/* GRID-AREA NAMES  */
header{
    grid-area: header;
}
aside{
    grid-area: sidebar;
}
nav{
    grid-area: navbar;
}
main{
    grid-area: content;
}
footer{
    grid-area: footer;
}