* {
    box-sizing: border-box;

    /* when we add box sizzing +border box then padiing no longer increases the wodth of the box rather the width remains same */
    padding: 0%;
    margin: 0%;

}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.7;
    /* color: #333; */
    background: rgba(255, 255, 255, 0.579);

}








/* GRID  css start */


.testimonials {
    display: grid;
    margin: 100px auto;
    max-width: 1440px;
    background-color: rgba(245, 245, 220, 0.357);
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;


}

.card:nth-of-type(1) {
    grid-column: 1/3;
}

.card:nth-of-type(5) {
    grid-column: 2/4
}

.card:nth-of-type(3) {
    grid-row: 1/3;
    grid-column: 4/5;
}


/* GRID  css end    */


/* CARD styling  */
.card {
    padding: 10px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.453);
    margin-bottom: 10px;


}

.card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #996ed9;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.441);
    margin-right: 15px;

}

.card_lead {
    font-weight: bolder;

    font-family: serif;
}

.card_quote {
    font-weight: bolder;

    font-family: serif;
    opacity: .8;
}

.card_header {
    display: flex;


}

/* UTILITY CLASSES  */
.card--bg-purple {
    background-image: linear-gradient(rgb(255, 0, 255), rgb(255, 0, 115));
    color: rgb(255, 255, 255);
}

.card--bg-gray-blue {
    background: hsl(267, 55%, 52%);
    color: rgb(255, 255, 255);
}

.card--bg-gray {
    background: rgba(25, 17, 34, 0.316);
    color: rgb(255, 255, 255);
}

.card--bg-white {
    background: rgb(255, 255, 255);


}

.card--bg-black-blue {
    background: hsl(219, 29%, 14%);
    color: rgb(255, 255, 255);
}


footer {
    background-color: black;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;

    width: 100%;
}


/* MEDIA QUERIES FOR RESPONSIVENES  */
@media (max-width:750px){

.testimonials{
    grid-template-columns: 1fr;
    width: 100%;
    padding: 10px;
    /* margin: 2px; */


}
.card{
    grid-column: 1/5; 
}
/* HERE WE HAVE TO AGAIN DEFINE grid-column and grid-rows bcoz  WE HAVE TO MAKE RESPONSIVE AND ONCE WE SET grid-column or rows we have to reset it again as we are doing here  */
    
.card:nth-of-type(1) {
    grid-column: 1/5;
   grid-row: 1/2;
}
    

.card:nth-of-type(2) {
    grid-column: 1/5;
   grid-row: 2/2;
}

.card:nth-of-type(5) {
    grid-column: 1/5;
    grid-row:5/6;
    
}

.card:nth-of-type(3) {
    grid-column: 1/5;
   grid-row:3/4 ;
}



















}